[submodule "tgbot-cpp"]
	path = tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "TgCore/tgbot-cpp"]
	path = TgCore/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "TgCore/CTranslate"]
	path = TgCore/CTranslate
	url = https://github.com/OpenNMT/CTranslate
[submodule "TgCore/JamSpell"]
	path = TgCore/JamSpell
	url = https://github.com/bakwc/JamSpell
[submodule "TgCore/HTTPRequest"]
	path = TgCore/HTTPRequest
	url = https://github.com/elnormous/HTTPRequest
[submodule "curl2"]
	path = TgCore/curl2
	url = https://github.com/curl/curl
