[submodule "tgbot-cpp"]
	path = tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "TgCore/tgbot-cpp"]
	path = TgCore/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "TgCore/CTranslate"]
	path = TgCore/CTranslate
	url = https://github.com/OpenNMT/CTranslate
[submodule "TgCore/JamSpell"]
	path = TgCore/JamSpell
	url = https://github.com/bakwc/JamSpell
[submodule "TgCore/CTranslate2"]
	path = TgCore/CTranslate2
	url = https://github.com/OpenNMT/CTranslate2
