[submodule "tgbot-cpp"]
	path = tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "TgCore/tgbot-cpp"]
	path = TgCore/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp
[submodule "TgCore/CTranslate"]
	path = TgCore/CTranslate
	url = https://github.com/OpenNMT/CTranslate
